* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0 auto;
    padding: 0;
    background: $color-background-dark;
    color: $color-neutral-dark;
    font: 400 $font-size-p $font-family;
    line-height: 1.25;
    max-width: $max-width;
}

main {
    outline: none;
}

h1 {
    color: $color-accent-dark;
    font-weight: 600;
    font-size: $font-size-h1;
    text-transform: uppercase;
    margin: .75em 0;
}
h2 {
    color: $color-accent-dark;
    font-weight: 600;
    font-size: $font-size-h2;
    text-transform: uppercase;
    margin: 1em 0;
}
h3 {
    color: $color-accent-dark;
    font-weight: 600;
    font-size: $font-size-h3;
    text-transform: uppercase;
    margin: 1em 0;
}
h4 {
    color: $color-accent-dark;
    font-weight: 600;
    font-size: $font-size-h4;
    text-transform: uppercase;
    margin: 1em 0;
}
h5 {
    color: $color-accent-dark;
    font-weight: 600;
    font-size: $font-size-h5;
    text-transform: uppercase;
    margin: .75em 0;
}
h6 {
    color: $color-neutral-light;
    font-weight: 600;
    font-size: $font-size-h6;
    text-transform: uppercase;
    margin: .5em 0;
}
p {
    line-height: 1.5;
    font-weight: 400;
    font-size: $font-size-p;
    margin: .5em 0;
}

img {
    max-width: 100%;
}

blockquote {
    display: inline-block;
    margin: 0 .25em;
    padding: 1em 1.25em;
    border-left: 4px solid $color-accent-dark;
    color: $color-neutral-dark;
    font: 400 $font-size-p $font-family;
    background: no-repeat top left url('/images/uploads/quote.svg'),
                $color-accent-light;
    background-size: 48px;
}

a {
    outline: none;
    color: $color-accent-dark;
    font-weight: 600;
    text-decoration: none;
    padding: 0 2px;
    box-shadow: 0 1px $color-accent-light;

    &:focus,
    &:active {
        background: $color-accent-light;
        box-shadow: 0 2px $color-accent-dark;
    }
}

hr {
    height: 1px;
    background: rgba($color-neutral-light, .15);
    border: none;
}

.icon-link {
    content: '#';
    font-weight: 600;
    font-size: inherit;
    color: $color-neutral-light;
    padding: .15em;
}
