.button {
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 1.25em 1.5em;
    background: var(--color-accent-light);
    color: var(--color-accent-dark);
    font: 600 var(--font-button);
    cursor: pointer;
    box-shadow: inset 0 0 0 2px color-mix(in srgb, var(--color-accent-dark) 15%, transparent);

}
.button:focus,
.button:active {
    background: var(--color-accent-light);
    box-shadow: inset 0 0 0 2px var(--color-accent-dark),
                0 2px 8px color-mix(in srgb, var(--color-accent-dark) 15%, transparent);
}

.button-icon {
    display: inline-block;
    margin: -2px 4px 0;
    vertical-align: middle;
    overflow: hidden;
    height: 20px;
    transition: .2s ease;
}

.button-icon svg {
    vertical-align: middle;
    width: 20px;
    fill: var(--color-accent-dark);
    transition: .2s ease;
}

.button-primary {
    background: var(--color-accent-dark);
    color: var(--color-accent-light);
    box-shadow: 0 2px 4px color-mix(in srgb, var(--color-neutral-dark) 25%, transparent) !important;

}
.button-primary:focus,
.button-primary:active {
    background: var(--color-accent-dark);
    box-shadow: inset 0 0 0 3px var(--color-accent-dark),
                inset 0 0 0 5px color-mix(in srgb, var(--color-accent-light) 25%, transparent),
                0 4px 8px color-mix(in srgb, var(--color-accent-dark) 25%, transparent) !important;
}

.button-primary .button-icon svg {
    fill: var(--color-accent-light);
}