:root {
    /* Colors */
    --color-background-light: rgb(255, 255, 255);
    --color-background-dark: rgb(245, 245, 245);
    --color-accent-light: rgb(235, 245, 250);
    --color-accent-dark: rgb(15, 125, 165);
    --color-neutral-light: rgb(110, 120, 125);
    --color-neutral-dark: rgb(25, 50, 60);
    --color-error-light: rgb(250, 225, 230);
    --color-error-dark: rgb(165, 15, 20);

    /* Typography - https://www.modularscale.com/?1&em&1.125 */
    --font-family: 'Noto Sans', 'Open Sans', 'Segoe UI', 'Helvetica Neue', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    --font-family-heading: 'Mona Sans', 'Noto Sans', 'Open Sans', 'Segoe UI', 'Helvetica Neue', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    --font-family-code: 'Noto Sans Mono', monospace;
    --font-size-h1: 2.027em;
    --font-size-h2: 1.802em;
    --font-size-h3: 1.424em;
    --font-size-h4: 1.266em;
    --font-size-h5: 1.125em;
    --font-size-h6: 1em;
    --font-size-p-large: 1.025em;
    --font-size-p-small: 1em;
    --font-size-label: .889em;
    --font-base: var(--font-size-p-large) var(--font-family);
    --font-small: var(--font-size-p-small) var(--font-family);
    --font-button: var(--font-size-p-large) var(--font-family-heading);
    --font-label: var(--font-size-label) var(--font-family);

    /* Sizing */
    --max-width: 1400px
}